{
	"env": {
		"es6": true
	},
	"parser": "babel-eslint",
	"ecmaFeatures": {
		"blockBindings": true,
		"arrowFunctions": true,
		"defaultParams": true,
		"destructuring": true,
		"modules": true,
		"jsx": true,
		"classes": true,
		"generators": true,
		"templateStrings": true
	},
	"rules": {
		"strict": 0,
		"comma-dangle": [2, "always-multiline"],
		"no-cond-assign": [2, "always"],
		"no-constant-condition": 2,
		"no-dupe-args": 2,
		"no-dupe-keys": 2,
		"no-duplicate-case": 2,
		"no-empty": 2,
		"no-ex-assign": 2,
		"no-extra-parens": [2, "functions"],
		"no-extra-semi": 2,
		"no-func-assign": 2,
		"no-inner-declarations": [2, "functions"],
		"no-invalid-regexp": 2,
		"no-irregular-whitespace": 2,
		"no-negated-in-lhs": 1,
		"no-obj-calls": 2,
		"no-regex-spaces": 2,
		"no-sparse-arrays": 2,
		"no-unexpected-multiline": 2,
		"no-unreachable": 2,
		"use-isnan": 2,
		"valid-typeof": 2,
		"curly": 2,
		"default-case": 2,
		"dot-location": [2, "property"],
		"dot-notation": 2,
		"eqeqeq": 2,
		"guard-for-in": 2,
		"no-caller": 2,
		"no-case-declarations": 2,
		"no-div-regex": 2,
		"no-empty-pattern": 2,
		"no-eq-null": 2,
		"no-eval": 1,
		"no-extend-native": 2,
		"no-extra-bind": 2,
		"no-fallthrough": 2,
		"no-implied-eval": 2,
		"no-invalid-this": 2,
		"no-iterator": 2,
		"no-labels": 2,
		"no-lone-blocks": 2,
		"no-loop-func": 2,
		"no-multi-spaces": 2,
		"no-new-func": 2,
		"no-new-wrappers": 2,
		"no-new": 2,
		"no-param-reassign": 2,
		"no-proto": 2,
		"no-redeclare": 2,
		"no-return-assign": 2,
		"no-script-url": 1,
		"no-self-compare": 1,
		"no-sequences": 2,
		"no-throw-literal": 2,
		"no-unused-expressions": [2, {"allowShortCircuit": true, "allowTernary": true}],
		"no-useless-call": 2,
		"no-void": 2,
		"vars-on-top": 1,
		"wrap-iife": 2,
		"no-catch-shadow": 2,
		"no-shadow-restricted-names": 2,
		"no-shadow": 2,
		"no-undef-init": 2,
		"no-unused-vars": 1,
		"no-use-before-define": [2, "nofunc"],

		"brace-style": [2, "stroustrup", {"allowSingleLine": true}],
		"camelcase": 1,
		"comma-spacing": 2,
		"computed-property-spacing": [2, "never"],
		"consistent-this": [2, "self"],
		"eol-last": 2,
		"jsx-quotes": [2, "prefer-double"],
		"key-spacing": 2,
		"max-depth": [1, 3],
		"no-lonely-if": 2,
		"no-mixed-spaces-and-tabs": [2, "smart-tabs"],
		"no-multiple-empty-lines": 2,
		"newline-after-var": [1, "always"],
		"no-negated-condition": 1,
		"no-spaced-func": 2,
		"no-trailing-spaces": 2,
		"no-unneeded-ternary": 2,
		"object-curly-spacing": [2, "never"],
		"one-var": [2, "never"],
		"operator-linebreak": [2, "before"],
		"semi-spacing": 2,
		"semi": 1,
		"keyword-spacing": [2, {"before": true, "after": true}],
		"space-before-blocks": 2,
		"space-before-function-paren": [2, "never"],
		"space-in-parens": [2, "never"],
		"space-infix-ops": [2, {"int32Hint": false}],
		"space-unary-ops": 2,

		"arrow-body-style": [2, "always"],
		"arrow-spacing": 2,
		"constructor-super": 2,
		"no-confusing-arrow": 2,
		"no-class-assign": 2,
		"no-const-assign": 2,
		"no-dupe-class-members": 2,
		"no-this-before-super": 2,
		"no-var": 2,
		"object-shorthand": 2,
		"prefer-const": 2,
		"prefer-spread": 2,
		"prefer-template": 2,

		"react/jsx-uses-vars": 2,
		"react/jsx-uses-react": 2,

		"babel/new-cap": [1, {"capIsNewExceptions": ["Intercom", "XXHash", "Classnames", "PouchDB", "Log"]}],
		"babel/object-curly-spacing": 2,
		"babel/object-shorthand": 2,
		"babel/arrow-parens": 2,
		"babel/no-await-in-loop": 2
	},
	"plugins": [
		"react",
		"babel"
	]
}
