{
	"extends": "eslint:recommended",
	"env": {
		"browser": true,
		"node": true,
		"amd": true,
		"mocha": true,
        "es6": true,
        worker: true
	},
	"plugins": [
		"mocha"
	],
	"rules": {
		"quotes": [ 2, "single" ],
		"no-unused-vars": 2,
		"mocha/no-exclusive-tests": 2,
		"comma-dangle": 0
	},
    "globals": {
        plumin: false,
        expect: false
    }
}
