.tmp
*.log
node_modules/*

# include just the files we use in gh-pages
!node_modules/knacss
node_modules/knacss/*
!node_modules/knacss/css
node_modules/knacss/css/*
!node_modules/knacss/css/knacss.css

!node_modules/codemirror
node_modules/codemirror/*
!node_modules/codemirror/lib
node_modules/codemirror/lib/*
!node_modules/codemirror/lib/codemirror.css
!node_modules/codemirror/lib/codemirror.js

!node_modules/codemirror/mode
node_modules/codemirror/mode/*
!node_modules/codemirror/mode/javascript
node_modules/codemirror/mode/javascript/*
!node_modules/codemirror/mode/javascript/javascript.js

!node_modules/codemirror/addon
node_modules/codemirror/addon/*
!node_modules/codemirror/addon/edit
node_modules/codemirror/addon/edit/*
!node_modules/codemirror/addon/edit/closebrackets.js
