node_modules
bower_components

# include just the files we use in gh-pages
!bower_components/knacss/css/knacss.css
!bower_components/codemirror/lib/codemirror.css

!bower_components/codemirror/lib/codemirror.js
!bower_components/codemirror/mode/javascript/javascript.js
!bower_components/codemirror/addon/edit/closebrackets.js